body {
  background-color: #303136;
  display: flex;
  justify-content: center;
  height: 100vh;
}

.parent {
  width: 90%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.parentCalc {
  width: 300px;
  height: 550px;
  background-color: #17181a;
  border-radius: 30px;
  box-shadow: 5px 5px 50px rgba(51, 51, 51, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 15px 20px 15px;
  gap: 50px;
}

.display {
  border: solid 1px white;
  width: 90%;
  height: 30%;
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: end;
}

.results {
  margin: 0px 20px 5px 0px;
  letter-spacing: 5px;
  font-size: 2em;
  font-family: "Poppins";
  padding: 0px;
}

.buttonsContainer {
  width: 90%;
  gap: 15px;
  display: flex;
  flex-wrap: wrap;
  font-family: "Poppins";
}

.button {
  aspect-ratio: 1;
  width: 56px;
  border-radius: 15px;
  border: none;
  font-family: "Poppins";
  font-weight: bold;
  font-size: 1.2rem;
  color: white;
  background-color: #303136;
}

.button:hover {
  opacity: 0.5;
}

.zeroButton {
  height: 56px;
  width: 127px;
  border-radius: 15px;
  border: none;
  font-size: 1.2rem;
  font-weight: bold;
  font-family: "Poppins";
  color: white;
  background-color: #303136;
}

.operator {
  background-color: #005db2;
}

.equals {
  background-color: #339dff;
}

h1 {
  font-family: "Poppins";
  font-size: 64px;
  color: white;
  margin-bottom: 20px;
}

.descriptionParent {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.gradient {
  background-image: linear-gradient(to right, #00c6fb 0%, #005bea 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.description {
  font-size: 15px;
  font-family: "Poppins";
  margin-top: 20px;
  font-weight: bold;
  color: #8b8b8b;
}
